Data Base: [From W3 School](../../w3schools.com/sql/trysql.asp)  
  

1- Find the Top <span style="color: var(--vscode-foreground);">of&nbsp;</span> <span style="color: var(--vscode-foreground);">10 Employees Who Sold the most Number of orders, and order Them in Descending order showing the highest first ...</span>

2- Find the Top <span style="color: var(--vscode-foreground);">of&nbsp;</span> <span style="color: var(--vscode-foreground);">10 Employees</span> <span style="color: var(--vscode-foreground);">&nbsp;Who Sold highest quantity of Sales, in ''Beverages'' Category and Order&nbsp;</span> <span style="color: var(--vscode-foreground);">Them in Descending order showing the highest first ...</span>

<span style="color: var(--vscode-foreground);"><br></span>

First Question

Note:

In [4]:

select 
emp.FirstName as Employee_FirstName,
emp.LastName as Employee_LastName,
-- concat(emp.firstname," ",emp.lastname) as name, 
count(ord.employeeid) as Number_of_Orders
from w3schools.employees as emp
left join w3schools.orders ord on ord.employeeid = emp.employeeid
group by emp.employeeid
order by Number_of_orders desc
limit 10;

Employee_FirstName,Employee_LastName,Number_of_Orders
Margaret,Peacock,40
Janet,Leverling,31
Nancy,Davolio,29
Laura,Callahan,27
Andrew,Fuller,20
Michael,Suyama,18
Robert,King,14
Steven,Buchanan,11
Anne,Dodsworth,6
Adam,West,0

Second Question 

<span style="color: var(--vscode-foreground);">Note:</span>

In [49]:
select emp.firstname as Employee_FirstName, emp.lastname as Employee_LastName, 
-- COALESCE(sum(odd.quantity), 0) as Sold_Most_Beverages
case when sum(odd.quantity) is NULL then 0 
    else sum(odd.Quantity) end as Sold_Most_Beverages
--
from w3schools.employees as emp
left join w3schools.orders as ord on emp.EmployeeID = ord.EmployeeID
left join w3schools.order_details as odd on odd.OrderID = ord.OrderID
right join w3schools.products as prd on odd.productid = prd.ProductID
where prd.CategoryID in (select cat.CategoryID from w3schools.categories as cat where cat.CategoryName = "beverages")
group by emp.employeeid
order by sold_most_beverages desc
limit 10;

Employee_FirstName,Employee_LastName,Sold_Most_Beverages
Margaret,Peacock,595
Nancy,Davolio,357
Robert,King,247
Laura,Callahan,243
Janet,Leverling,223
Michael,Suyama,195
Andrew,Fuller,151
Anne,Dodsworth,143
Steven,Buchanan,135

In [51]:
select emp.firstname as Employee_FirstName, emp.lastname as Employee_LastName, 
-- 
COALESCE(sum(odd.quantity), 0) as sold_most_beverages

from w3schools.employees as emp
left join w3schools.orders as ord on emp.EmployeeID = ord.EmployeeID
left join w3schools.order_details as odd on odd.OrderID = ord.OrderID
right join w3schools.products as prd on odd.productid = prd.ProductID
where prd.CategoryID in (select cat.CategoryID from w3schools.categories as cat where cat.CategoryName = "beverages")
group by emp.employeeid
order by sold_most_beverages desc
limit 10;

Employee_FirstName,Employee_LastName,sold_most_beverages
Margaret,Peacock,595
Nancy,Davolio,357
Robert,King,247
Laura,Callahan,243
Janet,Leverling,223
Michael,Suyama,195
Andrew,Fuller,151
Anne,Dodsworth,143
Steven,Buchanan,135

In [45]:
SELECT emp.firstname AS Employee_FirstName, emp.lastname AS Employee_LastName, 
       COALESCE(sum(odd.quantity), 0) AS Sold_Most_Beverages
FROM w3schools.employees AS emp
LEFT JOIN w3schools.orders AS ord ON emp.EmployeeID = ord.EmployeeID
LEFT JOIN w3schools.order_details AS odd ON odd.OrderID = ord.OrderID
LEFT JOIN w3schools.products AS prd ON odd.productid = prd.ProductID
RIGHT JOIN (SELECT * FROM w3schools.categories AS cat WHERE cat.CategoryName = "beverages") AS cat ON prd.CategoryID = cat.CategoryID
-- WHERE cat.categoryid = "1" --
-- where 
GROUP BY emp.employeeid
ORDER BY Sold_Most_Beverages DESC
LIMIT 10;

Employee_FirstName,Employee_LastName,Sold_Most_Beverages
Margaret,Peacock,595
Nancy,Davolio,357
Robert,King,247
Laura,Callahan,243
Janet,Leverling,223
Michael,Suyama,195
Andrew,Fuller,151
Anne,Dodsworth,143
Steven,Buchanan,135

In [14]:
select emp.firstname as Employee_FirstName, emp.lastname as Employee_LastName, 
COALESCE(sum(odd.quantity),0) as Sold_Most_Beverages
from w3schools.employees as emp
left join w3schools.orders as ord on emp.EmployeeID = ord.EmployeeID
left join w3schools.order_details as odd on odd.OrderID = ord.OrderID
left join w3schools.products as prd on odd.productid = prd.ProductID
left join w3schools.categories as cat on prd.CategoryID = cat.CategoryID
where cat.CategoryName = "beverages"
GROUP BY emp.employeeid
ORDER BY Sold_Most_Beverages DESC
limit 10;

Employee_FirstName,Employee_LastName,Sold_Most_Beverages
Margaret,Peacock,595
Nancy,Davolio,357
Robert,King,247
Laura,Callahan,243
Janet,Leverling,223
Michael,Suyama,195
Andrew,Fuller,151
Anne,Dodsworth,143
Steven,Buchanan,135